html,
body {
  min-width: 768px;
  max-width: 1200px;
  min-height: 2762px;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.main-header {
  position: relative;
  min-height: 56px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
}

.main-navigation {
  width: 100%;
  min-height: 56px;
}

.main-navigation .menu-group {
  display: table;
  table-layout: auto;
  width: 40%;
  padding: 16px;
  margin: 0;
  list-style: none;
}

.main-navigation .menu-item {
  display: table-cell;
}

.main-navigation .menu-group:first-child {
  float: left;
  text-align: left;
}

.main-navigation .menu-group:last-child {
  float: right;
  text-align: right;
}

.menu-item a {
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  line-height: 26px;
}
