html {
    background: #f2f2f2;
}

body {
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}


/*стили для шапки*/

.main_header {
    position: relative;
    min-height: 56px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -69px;
}

.logo a {
    display: block;
}

.main_navigation {
    width: 100%;
    min-height: 56px;
}

.main_navigation a {
  color: #000000;
}

.main_navigation a:hover {
  color: #81b3d2;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.main_navigation .menu_group {
    display: table;
    table-layout: auto;
    width: 40%;
    padding: 15px 0;
    margin: 0;
    list-style: none;
}

.main_navigation .menu_item {
    display: table-cell;
    line-height: 26px;
    font-weight: bold;
}

.main_navigation .menu_group:first-child {
    float: left;
    text-align: left;
    margin-left: 6%;
}

.main_navigation .menu_group:last-child {
    float: right;
    text-align: right;
    margin-right: 6%;
}

.menu_item a {
    text-decoration: none;
    color: #000000;
}


/*стили для основной картинки*/

.prolog {
    padding-bottom: 80px;
    background-image: url('../img/mask.png'), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60px, 100% auto;
    background-position: 0% 100%, 0% 20%;
}

.content_logo {
    display: block;
    width: 458px;
    margin: auto;
    padding-top: 76px;
}


/*стили для основого содержания*/

.container h1 {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    margin-top: 58px;
    margin-bottom: 35px;
}

.container p {
    text-align: center;
    line-height: 26px;
    margin-bottom: 46px;
}

.advantages_view_1 {
    background-color: #81b3d2;
    text-align: center;
    margin-bottom: 56px;
}

.content_text_1 {
    float: left;
    width: 33.3%;
    color: #ffffff;
}

.content_image_1 {
    float: right;
    width: 66.6%;
}

.advantages_view_1::after {
    content: '';
    display: table;
    clear: both;
}

.advantages_view_1 h2,
.advantages_view_2 h2 {
    font-size: 21px;
    padding-top: 53px;
    padding-bottom: 24px;
}

.advantages_view_1 span {
    position: relative;
}

.advantages_view_1 p {
    margin-top: 0;
    padding-top: 10px;
}

.content_text_1 span::before {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    top: 7px;
    left: 26px;
}

.content_text_1 span::after {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    top: 7px;
    right: 28px;
}

.icon {
    text-align: center;
}

.icon img {
    width: 75px;
    height: 76px;
}

.icon_1 {
    float: left;
    width: 33.3%;
}

.icon_2 {
    float: left;
    width: 33.3%;
}

.icon_3 {
    float: right;
    width: 33.3%;
}

.icon::after {
    content: '';
    display: table;
    clear: both;
}

.icon h2 {
    font-size: 21px;
}

.advantages_view_2 {
    background-color: #81b3d2;
    text-align: center;
}

.content_image_2 {
    float: left;
    width: 66.6%;
}

.content_text_2 {
    float: right;
    width: 33.3%;
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages_view_2 span {
    position: relative;
}

.content_text_2 span::before {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    top: 7px;
    left: 26px;
}

.content_text_2 span::after {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    top: 7px;
    right: 28px;
}

.advantages_view_2::after {
    content: '';
    display: table;
    clear: both;
}

.another_advantages {
    background-color: #eeeeee;
    text-align: center;
    font-size: 0;
    margin-bottom: 54px;
}

.another_advantages .advantages {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
}

.advantages h2 {
    font-size: 21px;
    padding-top: 53px;
    padding-bottom: 24px;
    margin: 0;
}

.advantages span {
    position: relative;
    font-size: 14px;
}

.advantages p {
    font-size: 14px;
}

.another_advantages span::before {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #a8a8a8;
    top: 7px;
    left: 26px;
}

.another_advantages span::after {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #a8a8a8;
    top: 7px;
    right: 28px;
}

.title {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.title_form {
    display: block;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;
    width: 568px;
    margin: auto;
    padding: 35px 0;
    text-align: center;
}

.map {
    height: 600px;
    overflow: hidden;
}

.map_nojs {
    background: url(../img/map.jpg) no-repeat 50% 50%;
}


/* форма поиска гостиницы*/

.content_form {
    background-color: #ffffff;
    width: 568px;
    padding: 55px;
    position: absolute;
    left: 50%;
    margin-left: -284px;
    box-sizing: border-box;
}

.content_form input {
    background-color: #f2f2f2;
}

.form_item input:hover {
  background-color: #ebebeb;
}

.form_item button:hover {
  background-color: #ebebeb;
}

form {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form_item {
    margin-bottom: 30px;
}

.form_item label {
    float: left;
    width: 125px;
    padding: 8px 16px 6px 0;
    box-sizing: border-box;
}

.form_item input {
    float: left;
    position: relative;
    width: 294px;
    padding: 8px 167px 8px 15px;
    box-sizing: border-box;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.form_item button {
    background-image: url('../img/sprites.png');
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-position: -5px -61px;
    float: left;
    width: 39px;
    height: 32px;
    box-sizing: border-box;
    border: none;
}

.form_field {
    margin-bottom: 54px;
}

.form_field .counter {
    display: inline-block;
    font-size: 0;
}

.form_field .counter button,
.form_field .counter input {
    font-size: 14px;
    line-height: 26px;
    border: none;
    background: #f2f2f2;
    width: 38px;
    height: 38px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.form_field .counter input {
    height: 36px;
}

.form_field .counter button {
  color: #a9a9a9;
}

.form_field.left {
    float: left;
    width: 50%;
}

.form_field.left label {
    width: 112px;
    padding: 8px 21px 7px 0;
    box-sizing: border-box;
}

.form_field.left .counter {
    width: 117px;
    text-align: right;
}

.form_field.right {
    float: right;
    width: 50%;
    text-align: right;
}

.form_field.right label {
    width: 115px;
    padding: 8px 0 7px;
    box-sizing: border-box;
    margin-right: 27px;
}

input[type="submit"] {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 6px 15px;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    padding: 20px;
}

input[type="submit"]:hover {
  background-color: #669ec0;
}

input[type="submit"]:focus {
  background-color: #5496bd;
}


/*подвал главной страницы*/

.main_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer_container {
    font-size: 0;
    padding: 30px 0;
}

.tag {
    display: inline-block;
    width: 33.3%;
    font-size: 21px;
    line-height: 26px;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
}

.tag a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.footer_social {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    font-size: 0;
    text-align: center;
}

.footer_copyright {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
}

.social_btn:last-child {
    margin-right: 0;
}

.footer_social .social_btn_fb {
    background-position: 0 -198px;
    /*width: 10px;
    height: 19px;*/
}

.footer_social .social_btn_tw {
    background-position: 0 -103px;
    /*  width: 17px;
    height: 15px;*/
}

.footer_social .social_btn_youtube {
    background-position: 0 -150px;
    /*width: 20px;
    height: 16px;*/
}

.social_btn {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background: url(../img/sprites.png) no-repeat #81b3d2;
}

.calendar {
    background-position: -5px -66px;
    width: 21px;
    height: 22px;
}

.star {
    background-position: -8px -44px;
    width: 17px;
    height: 17px;
}


/*стили для внутренней страницы*/

.prolog_inner {
    padding-bottom: 80px;
    background-image: url('../img/catalog_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0% 100%;
}

.infrastructure {
    float: left;
    width: 33.3%;
}

.property_type {
    float: left;
    width: 33.3%;
}

.filter-range {
    float: right;
    width: 33.3%;
}

.search_result {
    display: inline-block;
}

.filter {
    display: inline-block;
}

.hotels-pic {
    float: left;
    width: 135px;
}

.hotels-desc {
    float: left;
}

.rating {
    float: right;
    width: 111px;
}


/* фильтр*/

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
