.calendar, .icon_fb, .icon_tw, .icon_youtube, .star{
	background: url(sprites.png) no-repeat;
}

.calendar{
	background-position: -13px -66px ;
	width: 21px;
	height: 22px;
}

.icon_fb{
	background-position: -20px -215px ;
	width: 10px;
	height: 19px;
}

.icon_tw{
	background-position: -18px -121px ;
	width: 17px;
	height: 15px;
}

.icon_youtube{
	background-position: -14px -168px ;
	width: 20px;
	height: 16px;
}

.star{
	background-position: -14px -15px ;
	width: 17px;
	height: 17px;
}

